<div class="row">
  <%= simple_form_for @q, :url => restaurants_path, :html => { :method => :get } do |f| %>
    <fieldset class="search_field large-10 large-centered columns">
      <div class="home_search">
        <h5>Find a restaurant</h5>
      </div>
      <div class="row home_search">
        <div class="small-3 large-3 columns">
          <label for="restaurant_name" class="right inline">Restaurant name</label>
        </div>
        <div class="small-7 large-7 columns">
          <%= f.text_field :name_cont, :class => 'text_field', :autofocus => true %>
        </div>
        <div class="small-2 large-2 columns"><%= f.button :submit, 'Search', class: "small button" %></div>
      </div>
    </fieldset>
  <% end %>
</div>





