// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  opacity: 0.85;
}

#wrapper {
  min-height: 100%;
  position: relative;
  background-image: image-url(image_path('albion.jpg'));
  background-size: cover;
  margin-bottom: -10em;
}

#footer {
  width: 100%;
  position: absolute;
  background-color: #5D6A75;
  color: #E9E9E9;
  font-size: 0.75em;
  height: 10em;
  bottom: 0;
  padding: 30px 20px 20px 20px;
  clear: both;

  a {
    color: #E9E9E9;
  }

  a:hover {
    color: #CFCFCF;
  }
}

.breadcrumbs {
  opacity: 0.85;
}

.notice {
  margin-left: 33.33333px;
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}

.home_field {
  margin-top: 5em;
}

fieldset {
  background-color: white;
}

label {
  color: black;
}

.home_search {
  margin: 10px;
  margin-bottom: 20px;
}

.search_option {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 0.85em;
}

.diet_checkbox {
  font-size: 0.85em;
  margin-top: 8px;

  input {
    margin-right: 5px;
  }
}

.current_password {
  padding: 0px;
}

.search_button {
  margin-top: 10px;
  margin-right: 30px;
}

.devise_links {
  margin: 30px;
  font-size: 0.85em;
  color: white;
  font-weight: bold;

  a {
    color: white;
    font-weight: bold;
  }
}

.current_user {
  background-color: white;
  padding: 0 33.33333px;
  line-height: 100px;
  font-size: 0.8125em;
  font-weight: bold;
  color: black;
}

.detail {
  background-color: white;
  padding: 20px;
}

.mycheckbox input[type="checkbox"] {
  margin-right: 5px;
}

.search_results {
  margin-left: 30px;
  font-style: italic;
  font-size: 0.85em;
}

.restaurant_info {
  margin: 0px 30px;

  ul {
    list-style: none;
  }
}

.diets_list li {
  list-style: none;
  padding-left: 15px;
}

.comments_field {
  background-color: white;
  padding-top: 30px;
}

th {
  border-bottom: dotted;
  border-width: 1px;
  border-color: lightgray;
}
