.box {
  background-color: #E7F8FF;
  margin: 2px;
}

.rating {
  color: #68B516;
}

.comments_header {
  list-style: none;
  margin: 0px;
  font-size: 0.85em;

  li {
    display: inline;
    color: gray;
    padding-right: 5px;
    font-size: 0.85em;
  }
}

.comments_content {
  list-style: none;

  li {
    font-size: 0.85em;
  }
}

table {
  width: 100%;

  th {
    width: 20%;
  }

  td {
    width: 20%;
  }

}

.search_results{
  margin-bottom: 10px;
}

.restaurant_info {
  margin-bottom: 10px;

  .restaurant_name {
    font-weight: 800;
  }

  .restaurant_neighborhood{
    color: gray;
  }
}

.rate_restaurant {
  margin: 20px 0px 10px 0px;
}

.comment_error {
  list-style: none;
}
