.comments_header {
  list-style: none;
  margin: 0px;
  font-size: 0.85em;

  li {
    display: inline;
    color: gray;
    padding-right: 5px;
    font-size: 0.85em;
  }
}

.comments_content {
  list-style: none;
}

table {
  margin-top: 10px;
}
