.box {
  background-color: #F0F0F0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 30px;
  overflow: auto;
}

.diet_label {
  font-size: .9em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.rating {
  color: #68B516;
}

.progress {
  margin: 10px;
  text-align: center;
}

.comments_header {
  list-style: none;
  margin: 0px;
  font-size: 0.85em;

  li {
    display: inline;
    color: gray;
    padding-right: 5px;
    font-size: 0.85em;
  }
}

.comments_content {
  list-style: none;

  li {
    font-size: 0.85em;
  }
}

table {
  width: 100%;

  th {
    width: 20%;
  }

  td {
    width: 20%;
  }

}

.search_results{
  margin-bottom: 10px;
}

.restaurant_info {
  margin-bottom: 10px;

  .restaurant_name {
    font-weight: 800;
  }

  .restaurant_neighborhood{
    color: gray;
    margin-bottom: 20px;
  }
}

.rate_restaurant {
  margin: 20px 0px 10px 0px;
}

.vote_button {
  background-color: white;
  color: black;
  font-size: 2.0em;
  font-weight: 900;
}

.comment_error {
  list-style: none;
}
